# Node environment
NODE_ENV=

DATABASE_URL=
SERVER_URL=
SWITCH_API_URL=
SWITCH_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
FEATURE_FLAG_TRANSACTION_HISTORY=
FEATURE_FLAG_ADMIN_DASHBOARD=
FEATURE_FLAG_DEVELOPER_FEE=
FEATURE_FLAG_RATE_LIMIT=
FEATURE_FLAG_CURRENCIES=
DEVELOPER_FEE_PERCENT=
ID_CHECK_SK=
ID_CHECK_API_URL=
